
h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 72px;
}
a:active{
  color: black;
}

a:link{
  color: black;
  text-decoration: none;
}

.galaimg{
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10%;
  border: 7px ridge #00FF41;
  transition-duration: 0.75s;
}
.galaimg:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.supported{
  text-align: center;
  font-family:'Lexend', sans-serif;
  font-size: x-large;
}
#introP{
  font-size: xx-large;
  text-align: center;
}
.breakP{
  width: 75%;
  background-color: #00FF41;
  border-color: #00FF41;
}
.breakPP{
  width: 85%;
  background-color: #00FF41;
  border-color: #00FF41;
}
.TL:link{
  color: black;
  text-decoration: none;
}
.TL:visited{
  color: black;
}
.involve:link{
  color: white;
  text-decoration: none;
}
.involve:visited{
  color: white;
}

/*Ill get to the rest of the link stuff later, or if u reading it you can*/
h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: xx-large;
}
p, li{
font-family: 'Lexend', sans-serif;
font-size: x-large;
}
.center{
text-align: center;
margin: auto;
float:inherit;
}
.greenline{
  background-color: #00ff4091;
  width: 100%;
  height: 100px;
  margin: auto;
  border-radius: 50px;
}

.fade-in-left {
  animation: fadeInLeft 2s ease forwards;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  margin-left: -65px;
  margin-right: -65px;
  border-top: solid #00FF41 5px;
  margin-top: 10pxf;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;

  
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-right li {
  margin-bottom: 0.5rem;
  font-size: medium;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #ccc;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.footer-center ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.footer-center li {
  margin-bottom: 0.5rem;
  font-size: medium;
}

.footer-center a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-center a:hover {
  color: #ccc;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 0.5rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ccc;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.contact-form input[type="submit"] {
  background-color: #00FF41;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 0.5rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ccc;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
  }
}
.fade-in-bottom {
  animation: fadeInBottom 2s ease forwards;
}

@keyframes fadeInBottom {
  0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}
.fade-in-right {
  animation: fadeInRight 2s ease forwards;
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
  }
}
#credit-card-section {
  display: none;
}
.right{
text-align: right;
float: right;
}
.left{
text-align: left;
}
.wallet{
  width: 50%;
}
#formDono{
  height: 100%;
  width: 50%;
}
/*standard center class*/
nav{
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  z-index: 10;
  background-color: #ffffffe1;
}
.portal{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  border-collapse:inherit;
  border-spacing: 0px;
  float: left;
  display: block;
  border-bottom: #00FF41 ridge 5px;
  border-right: #00FF41 ridge 5px;
  border-left: #00FF41 ridge 5px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0px;
  table-layout: fixed;
  border-collapse: collapse;
}


.portal td{
 padding-left: 20px;
 padding-right: 20px;
 width: 16.7%;
 text-align: center;
}
.TL{
  text-decoration: none;
  color:black;
  transition-duration: 0.75s;
  border:none;
  outline:none;
  font-size: x-large;
}
.TL:hover {
 border-bottom: #00FF41 3px solid;
  box-shadow: 5px 10px 18px #00FF41;
}
#logo{
  vertical-align:baseline;
  width: 90px;
}
#indieAidDiv{
width: 60%;
height: 90%;
}
* {
  box-sizing: border-box;
}
.infordump{
  font-size: large;
  font-weight: bolder;
}
body {
  font-family: Verdana, sans-serif;
  z-index: 2;
  background:
  linear-gradient(to top, 
  #00ff4080, 
  #00ff4061 20%, 
  #00ff4018 40%, 
  #00ff4018 60%, 
  white 80%
);;
  background-size: cover;
  margin: 0px 65px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  max-height: 325px;
  min-height: 325px;
  /*Max height and width are in charge of how big the slideshow will be, preferably it will the exact height of our final images*/
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 7%;
  border: #00FF41 outset 5px;
}

/* Caption text */
.Ctext {
  color: #00FF41;
  font-size:64px;
  font-family:'Poppins', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 50%;
 left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px white, 0 0 20px black;
}

/* Number text (1/4 etc) */
.numbertext {
  color: black;
  font-weight: bolder;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  vertical-align: middle;
}

.in{
  display: inline;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #60f385;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.message{
  width: 75%;
  height: max-content;
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  border-spacing: 40px;
}
.message + th{
 font-size: xx-large;
 font-weight: bold;

}
.active {
  background-color: #e6e6e6;
}

.divide{
  background-color:#e6e6e6;
  height: 400px;
  width: 50%;
  position: relative;
  text-align: center;
  white-space: normal;
  margin: 5px;
  float: left;
  border: 2px solid #e6e6e6;
  padding: 10px;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
}
.join{
  background-image: url(Images/ControllerMainPage.png);
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #e6e6e6;
  height: 250px;
  width: 75%;
  position: relative;
  text-align: center;
  white-space: normal;
  margin: auto;
  border: 2px solid #e6e6e6;
  padding: 10px;
  border-radius: 20%;
  vertical-align:middle;
  padding:100px 0px;
  transition: .75s;
}
.join:hover {
  box-shadow: 0 12px 16px 0 #00FF41, 0 17px 50px 0 #00FF41;
  color: white;
}
.joinG{
  background-image: url(Images/GapeGreen.png);
  background-color: white;
  background-size: cover;
  height: 200px;
  width: 45%;
  position: relative;
  text-align: center;
  white-space: normal;
  border: 2px solid #e6e6e6;
  padding: 10px;
  border-radius: 20%;
  vertical-align:middle;
  color: Black;
  float:right;
  font-size: 150%;
  -webkit-text-stroke: white 1px;
  
}
.joinG:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: url(Images/attendee.jpg);
  background-size: cover;
  transition: .5s;
}
.joinG1{
  width: fit-content;
  padding: 10px;
  border-radius: 20%;
  color: black;
  font-size: x-large;
}
.joinG1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s;
  border: #00FF41 2px solid;
}

.involveG{
  text-decoration: none;
  font-size: xx-large;
  font-family:'Poppins', sans-serif;
  color:Black;
  height: 40%;
  width: 30%;
}
.involve{
  text-decoration: none;
  font-size: 72px;
  font-family:'Poppins', sans-serif;
  color:white;
}
.joinD{
  background-image: url(Images/GapeGreen.png);
  background-color: #00FF41;
  background-size: cover;
  height: 200px;
  width: 45%;
  position: relative;
  text-align: center;
  white-space: normal;
  border: 2px solid #e6e6e6;
  padding: 10px;
  border-radius: 20%;
  vertical-align:middle;
  color: black;
  font-size: 150%;
  float:left;
  -webkit-text-stroke: white 1px;
  
}
.joinD:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: url(Images/controller.jpg);
  transition: .5s;
}
.pubImg{
  width: 25%;
  height: 25%;
  float: right;
  position: relative;
  text-align: center;
  white-space: normal;
  border-radius: 20%;
}
.highlight{
  text-shadow: #00FF41 5px -3px;
}
.pen{
  width: 50%;
  height:50%;
  float: right;
  position: relative;
}
.Qs{
  text-shadow: #00FF41 10px 5px;
}
article a{
  color: black;
  transition: .75s;
}
article a:hover{
  color: #00FF41;
}
#GalaLink{
font-weight: bolder;
transition-duration: 0.75s;
}
#GalaLink:hover{
  text-shadow: black 5px 1px;
  
}
.pubImg2{
  width: 25%;
  height: 25%;
  position: relative;
  text-align: center;
  white-space: normal;
  border-radius: 20%;
}
.bigger{
  font-size: 40px;
}
#Gnames{
  width: 500px;
  height: fit-content;
}
.frozen{
width: 50%;
height: 100%;
float: right;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
input, select{
  border: 2px solid #00FF41;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 8px 0;
}
label{
  font-size: large;
}
input[type="submit"]{
width: 200px;
height: 50px;
background-color:#00FF41;
border-color: #00FF41;
font-family:  Verdana, sans-serif;
font-size: large;
}
input[type="submit"]:hover{
  border-color: black;
}
#Cnum{
  width: 150px;
}
.SB{
  width: 75px;
}
#expM, #expY{
width: 60px;
}
#CVV{
  width: 75px;
}
#Address{
  height: 100px;
  width: 400px;
}

.GameLogo{
  height: 200px;
  border: #00FF41 ridge 7px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}